<section>
<div class="bg-slate-50 min-h-screen">
    <div class="bg-slate-100 shadow-md rounded-lg overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <!-- Right Column: Contact Form -->
        <div class="p-8">
          <p class="font-bold">We know you Love us if you have come this Far,<br>
            So why not Contact Us for a little Chit Chat?</p>
        </div>
        
        <!-- Left Column: Contact Information -->
        <div class="bg-yellow-400 p-8 flex flex-col justify-center">
          <h1 class="text-7xl font-bold text-gray-800 mb-4">Contact us</h1>
          <div class="mb-4">
            <h3 class="text-gray-800 font-semibold">Phone</h3>
            <p class="text-slate-900">+91 9962055297</p>
          </div>
  
          <div class="mb-4">
            <h3 class="text-slate-900 font-semibold">Email</h3>
            <p class="text-slate-900">media.velsy@gmail.com</p>
          </div>
          <div class="mb-4">
            <h3 class="text-slate-900 font-semibold">Website</h3>
            <p class="text-slate-900">www.velsymedia.com</p>
          </div>
        </div>
  
        
      </div>
    </div>
  </div>
</section>