<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Velsy Media offers branding, social media, marketing, and more to grow your business.">
		<meta name="keywords" content="Branding, Social Media, Marketing, Web Design, Graphic Design, SEO, Videography, Photography">
		<meta name="author" content="Velsy Media">
		<meta name="robots" content="index, follow">
		<meta property="og:title" content="Velsy Media - Digital Solutions for Your Brand">
		<meta property="og:description" content="We provide a variety of services such as brand consistency, social media, software solutions, and digital marketing to help your business grow.">
		<meta property="og:url" content="https://www.velsymedia.com">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Velsy Media - Your Brand, Your Growth">
		<meta name="twitter:description" content="We specialize in branding, digital marketing, and business optimization to elevate your brand.">
		<title>Velsy Media</title>
	</head>
	
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
